.site{
    min-width: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0,1fr);
}

header{
    width: auto;
    background-color: black;
    border: 6px outset rgb(255, 255, 255);
    padding: 2%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

nav{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items:center;
    justify-content:space-between;
}
header nav h1{
   font-family: 'Courier New', Courier, monospace;
   cursor:default;
   color: rgb(255, 255, 255);
   margin-right: 3%;
   margin-top: 1%;
   margin-bottom: 1%;
   flex-wrap: nowrap;
}
header nav h1 a{
    text-decoration: none;
    color: rgb(255, 255, 255); 
}
header nav h1 a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
header nav ul li{
    list-style: none;
    cursor:default;
    justify-content: space-between;
    display:inline-block;
    font-size: 130%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    flex-wrap: nowrap;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(189, 189, 189);
}
header nav ul li a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 102%
    
}

:where(body){
    hyphens: auto;
    overflow-wrap: break-word;
}
.base{
    width: 100%;
    
    background-image: linear-gradient(rgb(0,0,0),rgb(0,0,0));
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
    bottom: 0;
    right: 0;
    
}
.vid_bg{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw; 
    min-height: 100%;
}
body{
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
}




footer{
    width:100%;
    height:fit-content;
    background-color: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
}
footer p{
    flex-wrap: nowrap;
    font-size: 80%;
}



.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    padding-top: 20%;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}




.content_bg{
    
    width: 60%;
    height: 100dvh;
    background-color: rgba(0,0,0,94%);
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content:space-between;
    overflow: scroll;
    z-index: 0;
}
.content_bg h2{
    color: white;
    font-size: auto;
}

.content_bg::-webkit-scrollbar{
    display: none;
}
.content_bg{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

.vectorek{
    width: 100%;
    display: inline-flex;
    align-items:flex-start;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 2%;
    margin-right: 2%;
    opacity: 20%;
}
.headline{
    width: 100%;
    display: inline-flex;
    align-items:flex-start;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: black;
}
.headline div p{
    font-size: 120%;
}



.box{
    flex-wrap: nowrap;
    height:auto;
    width:auto;
    position: relative;
    padding:2%;
    display: flex;
    overflow: auto;
    width: 100%;
    align-items: flex-start;
    justify-content:space-between;
    gap: 2%;
}

.box ol li{
    list-style: none;
    cursor:default;
    font-size: auto;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    flex-wrap: nowrap;
    text-align: justify;
    padding: 4%;
}

.box .stuff{
    background-color: black;
    width: 50%;
    height: fit-content;
    float: left;
    justify-content: center;
}


.box .stuff .scrollcon{
    background-color: black;
    border: 6px outset rgba(255, 255, 255,20%);
    overflow: auto;
    white-space: nowrap;
    align-items: baseline;
    padding-right: 10%;
}
.box .stuff .scrollcon img{
    padding: 2%;
}



.box .stuff .fun{
    background-color: rgb(41, 37, 37);
    justify-content: center;
    padding-left:  5%;
    padding-right:  5%;
    padding-top:  0.5%;
    padding-bottom:  0.5%;
    text-align: justify;
}
.box .stuff .info{
    justify-content: center;
    padding-left:  5%;
    padding-right:  5%;
    padding-top:  0.5%;
    padding-bottom:  0.5%;
    text-align: justify;
}

.box .stuff h4{
    text-justify: auto;
    padding-left: 9%;
    text-align: justify;
}





.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
.funny .item1:hover .overlay{
    opacity: 1;
}


    


.box_cont{
    display: grid;
    grid-template-columns: 5% 50% auto 5%;
    grid-template-rows: 5% 15% 5% auto 5%;
    row-gap: 15px;
    grid-template-areas:
        ". . . ."
        ". hdln time ."
        ". . . ."
        ". text pic ."
        ". . . .";
}
.box_cont div hdln{
    padding: 6%;
    grid-area: hdln;
    text-align: center;
}

.box_cont div time{
    padding: 6%;
    grid-area: time;
    text-align:justify;
}







/* tabs*/
.tab{
    background-color: rgb(0, 0, 0,85%);
    overflow: hidden;
}
.tab button{
    background-color: inherit;
    border: 5px black;
    
}
.tab button:hover{

}
.tab button:active{

}




.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}